body#myPage {
     background: white url("../images/crochet.jpg");
     background-size: cover;
}
h1.logo {
    text-align: center;
    color: lightgray;
    font-family: Dancing Script;
    font-size: xxx-large;
}
img {
    margin-right: auto;
    margin-left: auto;
    width: 15%;
    display: block;
}
 button.signUp {
    border: hidden;
    margin-top: 5px;
    background: border-box;
    min-inline-size: -webkit-fill-available;
    
}
button.signUp :hover  {
    color:red;
    transition:0.50s;
}
button.signIn :hover  {
    color:red;
    transition:0.50s;
}
button.signIn {
    border: hidden;
    background: border-box;
    margin-bottom: 10px;
    min-inline-size: -webkit-fill-available;
}